stellarium-icon ICON "C:/Users/VizLab/Desktop/stellarium/stellarium-0.15.1/data/stellarium.ico"
1 VERSIONINFO
FILEVERSION     0,15,1,0
PRODUCTVERSION  0,15,1,0
FILEOS          0x00040004L
FILETYPE        0x00000001L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0" // Lang=English (United States, 0x0409, decimal 1033), CharSet=Unicode (0x04B0, decimal 1200).
        BEGIN
            VALUE "CompanyName",      "Stellarium team\0"
            VALUE "FileDescription",  "Stellarium is a free open source planetarium\0"
            VALUE "FileVersion",      "0.15.1\0"
            VALUE "LegalCopyright",   "Copyright (C) 2000-2016 Stellarium team\0"
            VALUE "Info",             "http://www.stellarium.org/\0"
            VALUE "ProductVersion",   "0.15.1\0"
            VALUE "ProductName",      "Stellarium\0"
            VALUE "InternalName",     "stellarium\0"
            VALUE "OriginalFilename", "stellarium.exe\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
